In [1]:
import pandas as pd 

data=pd.read_csv("car-sales.csv")

print(data.head())

columns_c=['Make' , 'Colour']

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

In [3]:
for column in columns_c:
    unique_values = data[column].unique()
    for unique_value in unique_values:
        new_column_name = f"{column}_{unique_value}"
        data[new_column_name] = (data[column] == unique_value).astype(int)

print("ohe data:")
print(data.head())

ohe data:
     Make Colour  Odometer (KM)  Doors       Price  Make_Toyota  Make_Honda  \
0  Toyota  White         150043      4   $4,000.00            1           0
1   Honda    Red          87899      4   $5,000.00            0           1
2  Toyota   Blue          32549      3   $7,000.00            1           0
3     BMW  Black          11179      5  $22,000.00            0           0
4  Nissan  White         213095      4   $3,500.00            0           0

   Make_BMW  Make_Nissan  Colour_White  Colour_Red  Colour_Blue  Colour_Black  \
0         0            0             1           0            0             0
1         0            0             0           1            0             0
2         0            0             0           0            1             0
3         1            0             0           0            0             1
4         0            1             1           0            0             0

   Colour_Green
0             0
1             0
2             0
3             0
4             0